
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Html.PartialAsync("/Views/Admin/PartialHead.cshtml")
<body>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <div class="sidenav-header  align-items-center">
                    <img style="height:85px ; width:150px" src="~/argon-dashboard-master/assets/img/brand/Logo.png" />
            </div>
            <br />
            @await Html.PartialAsync("/Views/Admin/PartialSideBar.cshtml")
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        @await Html.PartialAsync("/Views/Admin/PartialNavBar.cshtml")
        <!-- Header -->
        @await Html.PartialAsync("/Views/Admin/PartialNavigation.cshtml")
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
            <br />
            <br />
            <!-- Footer -->
            @await Html.PartialAsync("/Views/Admin/PartialFooter.cshtml")
        </div>
    </div>
    <!-- Scripts -->
    @await Html.PartialAsync("/Views/Admin/PartialScript.cshtml")
</body>
</html>
