
@{
    ViewData["Title"] = "AddTestimanial";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
@using (Html.BeginForm("AddTestimanial", "Testimanial", FormMethod.Post))
{
    <div class="col-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Referans</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Ad Soyad</label>
                        <input type="text" class="form-control" placeholder="Ad Soyad" name="ClientName">
                        <text style="color:gray">@Html.ValidationMessage("ClientName")</text>
                    </div>
                    <div class="form-group">
                        <label>Firma Bilgisi</label>
                        <input type"text" class="form-control" placeholder="Firma Bilgisi" name="Company">
                        <text style="color:gray">@Html.ValidationMessage("Company")</text>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}

