@using EntityLayer.Concreate
@model List<Testimonial>

<div class="section px-3 px-lg-4 pt-5" id="testimonial">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Referanslarım</h2>
        </div>
        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col-md-6 mb-5" data-aos="fade-right" data-aos-delay="100">
                <div class="d-flex justify-content-end align-items-end">
                    <div class="text-end me-2">
                        <div class="fw-bolder">@item.ClientName</div>
                        <div class="text-small">@item.Company</div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>