@using EntityLayer.Concreate
@model Service
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateService", "Services", FormMethod.Post))
{
    <div class="col-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mesleki Kazanım</h4>
                <form class="forms-sample">

                    @Html.HiddenFor(x => x.ServiceID)
                    <div class="form-group">
                        <label>Yetenek</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        <text style="color:gray">@Html.ValidationMessage("Title")</text>
                    </div>
                    <button type="submit" class="btn btn-outline-info">Kaydet</button>
                    <button class="btn btn-dark">Vazgeç</button>
                </form>
            </div>
        </div>
    </div>
}